@model IEnumerable<BYUEgyptExcavation.Models.Mummy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderGe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderBodyCol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothEruption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathologyAnomalies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderGe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeFunctionTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderBodyCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateLivingStature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothAttrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothEruption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathologyAnomalies)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MummyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MummyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MummyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
