@model BYUEgyptExcavation.Models.Burial

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Burial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurialId" class="control-label"></label>
                <input asp-for="BurialId" class="form-control" />
                <span asp-validation-for="BurialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationNs" class="control-label"></label>
                <input asp-for="BurialLocationNs" class="form-control" />
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairNs" class="control-label"></label>
                <input asp-for="LowPairNs" class="form-control" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNs" class="control-label"></label>
                <input asp-for="HighPairNs" class="form-control" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEw" class="control-label"></label>
                <input asp-for="BurialLocationEw" class="form-control" />
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEw" class="control-label"></label>
                <input asp-for="LowPairEw" class="form-control" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEw" class="control-label"></label>
                <input asp-for="HighPairEw" class="form-control" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSubplot" class="control-label"></label>
                <input asp-for="BurialSubplot" class="form-control" />
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label"></label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToHead" class="control-label"></label>
                <input asp-for="SouthToHead" class="form-control" />
                <span asp-validation-for="SouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToFeet" class="control-label"></label>
                <input asp-for="SouthToFeet" class="form-control" />
                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastToHead" class="control-label"></label>
                <input asp-for="EastToHead" class="form-control" />
                <span asp-validation-for="EastToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastToFeet" class="control-label"></label>
                <input asp-for="EastToFeet" class="form-control" />
                <span asp-validation-for="EastToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfRemains" class="control-label"></label>
                <input asp-for="LengthOfRemains" class="form-control" />
                <span asp-validation-for="LengthOfRemains" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label"></label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreservationIndex" class="control-label"></label>
                <input asp-for="PreservationIndex" class="form-control" />
                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSituationNotes" class="control-label"></label>
                <input asp-for="BurialSituationNotes" class="form-control" />
                <span asp-validation-for="BurialSituationNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtifactsTakenNotes" class="control-label"></label>
                <input asp-for="ArtifactsTakenNotes" class="form-control" />
                <span asp-validation-for="ArtifactsTakenNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleTakenNotes" class="control-label"></label>
                <input asp-for="SampleTakenNotes" class="form-control" />
                <span asp-validation-for="SampleTakenNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HairTaken" /> @Html.DisplayNameFor(model => model.HairTaken)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SoftTissueTaken" /> @Html.DisplayNameFor(model => model.SoftTissueTaken)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BoneTaken" /> @Html.DisplayNameFor(model => model.BoneTaken)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToothTaken" /> @Html.DisplayNameFor(model => model.ToothTaken)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TextileTaken" /> @Html.DisplayNameFor(model => model.TextileTaken)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArtifactFound" /> @Html.DisplayNameFor(model => model.ArtifactFound)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wrapped" /> @Html.DisplayNameFor(model => model.Wrapped)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HeadDirection" class="control-label"></label>
                <input asp-for="HeadDirection" class="form-control" />
                <span asp-validation-for="HeadDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearFound" class="control-label"></label>
                <input asp-for="YearFound" class="form-control" />
                <span asp-validation-for="YearFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthFound" class="control-label"></label>
                <input asp-for="MonthFound" class="form-control" />
                <span asp-validation-for="MonthFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayFound" class="control-label"></label>
                <input asp-for="DayFound" class="form-control" />
                <span asp-validation-for="DayFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInitials" class="control-label"></label>
                <input asp-for="UserInitials" class="form-control" />
                <span asp-validation-for="UserInitials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
