@model BYUEgyptExcavation.Models.Burial

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h2 class="text-center">BYU Egypt Excavation - Fag el-Gamous Cemetary</h2>
<h3 class="text-center">Body Analysis Chart</h3>
<br /><br />

<form asp-action="Create">
    <div class="form-group col-12">
        <label class="control-label">Observer(s) / Excavation Recorder</label>
        <input type="text" placeholder="Name of Observer(s) / Excavation Recorder" class="form-control" />
    </div>
    <div class="row col-12">
        <div class="form-group col-3">
            <label asp-for="UserInitials" class="control-label"></label>
            <input asp-for="UserInitials" class="form-control" placeholder="User Initials" />
            <span asp-validation-for="UserInitials" class="text-danger"></span>
        </div>
        <div class="form-group col-2">
            <label asp-for="YearFound" class="control-label"></label>
            <input asp-for="YearFound" class="form-control" placeholder="YYYY" />
            <span asp-validation-for="YearFound" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="MonthFound" class="control-label"></label>
            <select asp-for="MonthFound" class="form-control">
                <option value=""></option>
                <option value="Jan">January</option>
                <option value="Feb">February</option>
                <option value="Mar">March</option>
                <option value="Apr">April</option>
                <option value="May">May</option>
                <option value="Jun">June</option>
                <option value="Jul">July</option>
                <option value="Aug">August</option>
                <option value="Sep">September</option>
                <option value="Oct">October</option>
                <option value="Nov">November</option>
                <option value="Dec">December</option>
            </select>
            <span asp-validation-for="MonthFound" class="text-danger"></span>
        </div>
        <div class="form-group col-2">
            <label asp-for="DayFound" class="control-label"></label>
            <select asp-for="DayFound" class="form-control">
                <option value=""></option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <span asp-validation-for="DayFound" class="text-danger"></span>
        </div>
    </div>
    <br />
    @*FIELDSET FOR BURIAL ID INFORMATION*@
    <fieldset class="border border-secondary p-3 m-2">
        <legend style="width: auto;" class="px-3">Burial ID</legend>
        <div class="row">
            <div class="form-group col-lg-4">
                <label asp-for="BurialLocationNs" class="control-label"> </label>
                <input asp-for="BurialLocationNs" class="form-control" placeholder="Burial Location N / S" />
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="LowPairNs" class="control-label"> </label>
                <input asp-for="LowPairNs" class="form-control" placeholder="Low #" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="HighPairNs" class="control-label"> </label>
                <input asp-for="HighPairNs" class="form-control" placeholder="High #" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="BurialLocationEw" class="control-label"></label>
                <input asp-for="BurialLocationEw" class="form-control" placeholder="Burial Location E / W" />
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="LowPairEw" class="control-label"></label>
                <input asp-for="LowPairEw" class="form-control" placeholder="Low #" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="HighPairEw" class="control-label"></label>
                <input asp-for="HighPairEw" class="form-control" placeholder="High #" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="BurialSubplot" class="control-label"></label>
                <select asp-for="BurialSubplot" class="form-control">
                    <option value=""></option>
                    <option value="NE">Northeast</option>
                    <option value="NW">Northwest</option>
                    <option value="SE">Southeast</option>
                    <option value="SW">Southwest</option>
                </select>
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="BurialNumber" class="control-label"></label>
                <input asp-for="BurialNumber" class="form-control" placeholder="Burial #" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-10 offset-1">
                <label asp-for="BurialId" class="control-label"></label>
                <input asp-for="BurialId" class="form-control" />
                <span asp-validation-for="BurialId" class="text-danger"></span>
            </div>
        </div>
    </fieldset>
    <br />

    @*FIELDSET FOR BURIAL METRICS INFORMATION*@
    <fieldset class="border border-secondary p-3 m-2">
        <legend style="width: auto;" class="px-3">Burial Metrics</legend>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="SouthToHead" class="control-label"></label>
                <input asp-for="SouthToHead" class="form-control" placeholder="South to Head" />
                <span asp-validation-for="SouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="SouthToFeet" class="control-label"></label>
                <input asp-for="SouthToFeet" class="form-control" placeholder="South to Feet" />
                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="EastToHead" class="control-label"></label>
                <input asp-for="EastToHead" class="form-control" placeholder="East to Head" />
                <span asp-validation-for="EastToHead" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="EastToFeet" class="control-label"></label>
                <input asp-for="EastToFeet" class="form-control" placeholder="East to Feet" />
                <span asp-validation-for="EastToFeet" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="BurialDepth" class="control-label"></label>
                <input asp-for="BurialDepth" class="form-control" placeholder="Burial Depth" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="LengthOfRemains" class="control-label"></label>
                <input asp-for="LengthOfRemains" class="form-control" placeholder="Length of Remains" />
                <span asp-validation-for="LengthOfRemains" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 offset-3">
                <label asp-for="HeadDirection" class="control-label"></label>
                <select asp-for="HeadDirection" class="form-control">
                    <option value=""></option>
                    <option value="East">East</option>
                    <option value="West">West</option>
                </select>
                <span asp-validation-for="HeadDirection" class="text-danger"></span>
            </div>
        </div>
    </fieldset>
    <br />

    @*FIELDSET FOR OVERALL IMPRESSION INFORMATION*@
    <fieldset class="border border-secondary p-3 m-2">
        <legend style="width: auto;" class="px-3">Overall Impression</legend>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="PreservationIndex" class="control-label"></label>
                I @Html.RadioButtonFor(Model => Model.PreservationIndex, "I")
                II @Html.RadioButtonFor(Model => Model.PreservationIndex, "II")
                III @Html.RadioButtonFor(Model => Model.PreservationIndex, "III")
                IV @Html.RadioButtonFor(Model => Model.PreservationIndex, "IV")
                V @Html.RadioButtonFor(Model => Model.PreservationIndex, "V")
                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="HairColor" class="control-label"></label>
                <select asp-for="HairColor" class="form-control">
                    <option value=""></option>
                    <option value="Unknown">Unknown</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Blonde">Blonde</option>
                </select>
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5 offset-1">
                <label asp-for="EstimateAge" class="control-label"></label>
                <input asp-for="EstimateAge" class="form-control" />
                <span asp-validation-for="EstimateAge" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="AgeMethod" class="control-label"></label>
                <input asp-for="AgeMethod" class="form-control" />
                <span asp-validation-for="AgeMethod" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group form-check col-3 offset-1">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.Wrapped) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="Wrapped" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-10 offset-1">
                <label asp-for="BurialSituationNotes" class="control-label"></label>
                <textarea asp-for="BurialSituationNotes" class="form-control border border-secondary" placeholder="Burial Situation" rows="8"></textarea>
                <span asp-validation-for="BurialSituationNotes" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group form-check col-2 offset-1">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.TextileTaken) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="TextileTaken" />
                </label>
            </div>
            <div class="form-group form-check col-3">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.ArtifactFound) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="ArtifactFound" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-10 offset-1">
                <label asp-for="ArtifactsTakenNotes" class="control-label"></label>
                <textarea asp-for="ArtifactsTakenNotes" class="form-control border border-secondary" placeholder="Artifacts Found" rows="8"></textarea>
                <span asp-validation-for="ArtifactsTakenNotes" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group form-check col-2 offset-1">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.HairTaken) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="HairTaken" />
                </label>
            </div>
            <div class="form-group form-check col-3">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.SoftTissueTaken) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="SoftTissueTaken" />
                </label>
            </div>
            <div class="form-group form-check col-2">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.BoneTaken) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="BoneTaken" />
                </label>
            </div>
            <div class="form-group form-check col-2">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.ToothTaken) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" asp-for="ToothTaken" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-10 offset-1">
                <label asp-for="SampleTakenNotes" class="control-label"></label>
                <textarea asp-for="SampleTakenNotes" class="form-control border border-secondary" placeholder="Samples Taken Notes" rows="8"></textarea>
                <span asp-validation-for="SampleTakenNotes" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="GenderGe" class="control-label"></label>
        <input asp-for="GenderGe" class="form-control" />
        <span asp-validation-for="GenderGe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenderMethod" class="control-label"></label>
        <input asp-for="GenderMethod" class="form-control" />
        <span asp-validation-for="GenderMethod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GeFunctionTotal" class="control-label"></label>
        <input asp-for="GeFunctionTotal" class="form-control" />
        <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenderBodyCol" class="control-label"></label>
        <input asp-for="GenderBodyCol" class="form-control" />
        <span asp-validation-for="GenderBodyCol" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstimateLivingStature" class="control-label"></label>
        <input asp-for="EstimateLivingStature" class="form-control" />
        <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ToothAttrition" class="control-label"></label>
        <input asp-for="ToothAttrition" class="form-control" />
        <span asp-validation-for="ToothAttrition" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ToothEruption" class="control-label"></label>
        <input asp-for="ToothEruption" class="form-control" />
        <span asp-validation-for="ToothEruption" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PathologyAnomalies" class="control-label"></label>
        <input asp-for="PathologyAnomalies" class="form-control" />
        <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SampleNumber" class="control-label"></label>
        <input asp-for="SampleNumber" class="form-control" />
        <span asp-validation-for="SampleNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BasilarSuture" class="control-label"></label>
        <input asp-for="BasilarSuture" class="form-control" />
        <span asp-validation-for="BasilarSuture" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VentralArc" class="control-label"></label>
        <input asp-for="VentralArc" class="form-control" />
        <span asp-validation-for="VentralArc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubpubicAngle" class="control-label"></label>
        <input asp-for="SubpubicAngle" class="form-control" />
        <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SciaticNotch" class="control-label"></label>
        <input asp-for="SciaticNotch" class="form-control" />
        <span asp-validation-for="SciaticNotch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PubicBone" class="control-label"></label>
        <input asp-for="PubicBone" class="form-control" />
        <span asp-validation-for="PubicBone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreaurSulcus" class="control-label"></label>
        <input asp-for="PreaurSulcus" class="form-control" />
        <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MedialIpRamus" class="control-label"></label>
        <input asp-for="MedialIpRamus" class="form-control" />
        <span asp-validation-for="MedialIpRamus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DorsalPitting" class="control-label"></label>
        <input asp-for="DorsalPitting" class="form-control" />
        <span asp-validation-for="DorsalPitting" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ForemanMagnum" class="control-label"></label>
        <input asp-for="ForemanMagnum" class="form-control" />
        <span asp-validation-for="ForemanMagnum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FemurHead" class="control-label"></label>
        <input asp-for="FemurHead" class="form-control" />
        <span asp-validation-for="FemurHead" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HumerusHead" class="control-label"></label>
        <input asp-for="HumerusHead" class="form-control" />
        <span asp-validation-for="HumerusHead" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Osteophytosis" class="control-label"></label>
        <input asp-for="Osteophytosis" class="form-control" />
        <span asp-validation-for="Osteophytosis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PubicSymphysis" class="control-label"></label>
        <input asp-for="PubicSymphysis" class="form-control" />
        <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FemurLength" class="control-label"></label>
        <input asp-for="FemurLength" class="form-control" />
        <span asp-validation-for="FemurLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HumerusLength" class="control-label"></label>
        <input asp-for="HumerusLength" class="form-control" />
        <span asp-validation-for="HumerusLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TibiaLength" class="control-label"></label>
        <input asp-for="TibiaLength" class="form-control" />
        <span asp-validation-for="TibiaLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Robust" class="control-label"></label>
        <input asp-for="Robust" class="form-control" />
        <span asp-validation-for="Robust" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupraorbitalRidges" class="control-label"></label>
        <input asp-for="SupraorbitalRidges" class="form-control" />
        <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrbitEdge" class="control-label"></label>
        <input asp-for="OrbitEdge" class="form-control" />
        <span asp-validation-for="OrbitEdge" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParietalBossing" class="control-label"></label>
        <input asp-for="ParietalBossing" class="form-control" />
        <span asp-validation-for="ParietalBossing" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gonian" class="control-label"></label>
        <input asp-for="Gonian" class="form-control" />
        <span asp-validation-for="Gonian" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NuchalCrest" class="control-label"></label>
        <input asp-for="NuchalCrest" class="form-control" />
        <span asp-validation-for="NuchalCrest" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZygomaticCrest" class="control-label"></label>
        <input asp-for="ZygomaticCrest" class="form-control" />
        <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CranialSuture" class="control-label"></label>
        <input asp-for="CranialSuture" class="form-control" />
        <span asp-validation-for="CranialSuture" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaximumCranialLength" class="control-label"></label>
        <input asp-for="MaximumCranialLength" class="form-control" />
        <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaximumCranialBreadth" class="control-label"></label>
        <input asp-for="MaximumCranialBreadth" class="form-control" />
        <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BasionBregmaHeight" class="control-label"></label>
        <input asp-for="BasionBregmaHeight" class="form-control" />
        <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BasionNasion" class="control-label"></label>
        <input asp-for="BasionNasion" class="form-control" />
        <span asp-validation-for="BasionNasion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BasionProsthionLength" class="control-label"></label>
        <input asp-for="BasionProsthionLength" class="form-control" />
        <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BizygomaticDiameter" class="control-label"></label>
        <input asp-for="BizygomaticDiameter" class="form-control" />
        <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NasionProsthion" class="control-label"></label>
        <input asp-for="NasionProsthion" class="form-control" />
        <span asp-validation-for="NasionProsthion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaximumNasalBreadth" class="control-label"></label>
        <input asp-for="MaximumNasalBreadth" class="form-control" />
        <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InterorbitalBreadth" class="control-label"></label>
        <input asp-for="InterorbitalBreadth" class="form-control" />
        <span asp-validation-for="InterorbitalBreadth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EpiphysealUnion" class="control-label"></label>
        <input asp-for="EpiphysealUnion" class="form-control" />
        <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
